*wpbackitup*
*.tar
*.tar.*
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
target/
Tools/
tmp/
doc/
*.deb

Perforce/
SourcePackages/
people/

# Assembled binaries and object directories
obj/
a.out
*.bin
*.a26
*.bak
*.deb
*.orig
